{% extends "index.html" %}

{% block content %}
  <!-- Post content -->
  <main class="content" role="main">
    <article class="post">
      <div class="inner">
        <section class="post-content">
            <h1>Article Series</h1>

            {% for series_name, series_articles in article_series.items() %}
            {% set article = series_articles[0] %}
            <li>
                <a href="{{ article.url }}">{{ series_name }}</a>
            </li>
            {% endfor %}

        </section>
      </div>
    </article>
  </main>
{% endblock content %}